/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.blind{
	position:absolute;
	width:1px; 
	height:1px;
	clip:rect(0 0 0 0);
	margin:-1px;
	overflow:hidden;
}
a{
	text-decoration:none;
	cursor:grab;
}
/*header*/
.header_part{
	height:66px;
	background-color:rgb(64,64,64);
	opacity:75%;
	position:fixed;
	top:0px;
	left:0px;
}
@media all and (min-width:979px){
	.header_part{
		width:100%;
		background-color:rgb(64,64,64);
		opacity:75%;
	}
}
.logo_part{
	padding-top:20px;
	padding-left:500px;
}
/*main 반응형 설정*/
@media all and (min-width:1920px){
	.main_banner{
		background-color:#fff;
	}
	.creator{
		background-color:#ff939d;
	}
	.store{
		background-color:#d5e43f;
	}
	.recipe{
		background-color:#b893f9;
	}
}
/*main_banner*/
.main_banner_content{
	width:1920px;
	height:750px;
	background:url('../image/section_invite.jpg') no-repeat 0 0;
	margin:0 auto;
}
/*creator*/
.creator_content{
	width:980px;
	height:822px;
	background:url('../image/section_creator.jpg') no-repeat 0 0;
	margin:0 auto;
}
/*store*/
.store_content{
	width:1920px;
	height:1084px;
	background:url('../image/section_store.jpg') no-repeat 0 0;
	margin:0 auto;
}
.item_list{
	width: 980px;
	height:740px;
	padding-top:280px;
	margin: 0 auto;
}
.store_content li{
	float:left;
	margin-right:20px;
}
.store_content li:nth-child(4), .store_content li:nth-child(8){
	margin-right:0px;
}
.apple_img{
	width:230px;
	height:230px;	
	border-radius: 10px;
	background:url('../image/thumbnail_apple.jpg') no-repeat 0 0;
}
.onion_img{
	width:230px;
	height:230px;
	border-radius: 10px;
	background:url('../image/thumbnail_onion.jpg') no-repeat 0 0;
}
.banana_img{
	width:230px;
	height:230px;
	border-radius: 10px;
	background:url('../image/thumbnail_banana.jpg') no-repeat 0 0;
}
.kiwi_img{
	width:230px;
	height:230px;
	border-radius: 10px;
	background:url('../image/thumbnail_kiwi.jpg') no-repeat 0 0;
}
.broccoli_img{
	width:230px;
	height:230px;
	border-radius: 10px;
	background:url('../image/thumbnail_broccoli.jpg') no-repeat 0 0;
}
.lemon_img{
	width:230px;
	height:230px;
	border-radius: 10px;
	background:url('../image/thumbnail_lemon.jpg') no-repeat 0 0;
}
.garlic_img{
	width:230px;
	height:230px;
	border-radius: 10px;
	background:url('../image/thumbnail_garlic.jpg') no-repeat 0 0;
}
.tomato_img{
	width:230px;
	height:230px;
	border-radius: 10px;
	background:url('../image/thumbnail_tomato.jpg') no-repeat 0 0;
}
.sale_rate{
	font-size:65px;
	color:#fff;
	text-align:center;
	padding-top:70px;
	opacity:0%;
}
.sale_time{
	font-size:20px;
	color:#fff;
	text-align:center;
	vertical-align: middle;
	opacity:0%;
}
.item_img:hover .sales_info{
	width:230px;
	height:230px;
	border-radius: 10px;
	background-color:rgb(96,132,2);
	opacity: 90%;
}
.item_img:hover .sale_rate, .item_img:hover .sale_time{
	opacity:100%;
}
.item_info{
	width:230px;
	height:140px;
	text-align:center;
}
.name{
	font-size:20px;
	color:#1b1d21;
	padding:25px 10px 15px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden; 
}
.price{
	font-size:28px;
	font-weight:bold;
	color:#1b1d21;
}
/*recipe*/
.recipe_background{
	width:1920px;
	height:1030px;
	background:url('../image/pattern_recipe.png');
	background-repeat: repeat-x;
	background-position: center;
	margin: 0 auto;
}
.recipe_content{
	width:980px;
	height:681px;
	position:relative;
	top:100px;
	background:url('../image/section_recipe.png') no-repeat 0 0;
	margin:0 auto;
}
.recipe_content li{
	float:left;
}
.cake{
	width : 480px;
	height:480px;
	position: relative;
	top:200px;
	left:0;
}
.pudding{
	width : 480px;
	height:480px;
	position: relative;
	top:200px;
	left:20px;
}
.go_to_recipe{
	width : 310px;
	height:91px;
	position:relative;
	top:150px;
	background:url('../image/go_recipe.gif') no-repeat 0 0 ;
	margin:0 auto;
}
.go_to_recipe:hover{
	background:url('../image/go_recipe_over.gif') no-repeat 0 0;
}
/*FAQ*/
.FAQ_content{
	width:980px;
	margin : 0 auto;
}
.FAQ_title{
	width:98px;
	height:50px;
	background:url('../image/title_faq.gif') no-repeat 0 0;
	margin: 0 auto;
	margin-top:120px;
	margin-bottom:40px;
}
.q_mark, .a_mark{
	float: left;
}
.more{
	width:23px;
	height:12px;
	background:url('../image/icon_arrow_down.gif') no-repeat 0 0;
	position : relative;
	right:0;
	top:0;
}
.question{
	line-height:28px;
	font-size:20px;
	font-weight:bold;
	color:#1b1d21;
	padding:20px 10px;
}
.answer{
	line-height:28px;
	font-size:16px;
	color:#60656e;
	padding:20px 10px;
	background-color:#f7f8fa;
	border-bottom:1px solid #a1a5ad;
}
/*footer*/
.footer_part{
	height:80px;
	background-color: #e0e4eb;
	margin-top:100px;
}
@media all and (max-width:979px){
	.footer_part{
		background-color: #e0e4eb;
	}
}
.btn_to_top{
	width:100px;
	height:100px;
	background-image: url('../image/go_top.gif');
	position:fixed;
	bottom: 180px;
	right:0px;
}
.copyright{
	font-size:18px;
	color:#70757d;
	text-align:center;
	padding:30px;
}
.copyright_logo{
	font-weight:bold;
}