@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,a, address, img,dl, dt, dd, ol, ul, li,form, label, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, details,footer, header,nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, footer, header, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
  text-decoration:none;
}
/*header 설정*/
@media all and (min-width:1080px){
  header{
    width : auto;
    background-color : #000;
  }
}
.head_title{
  width : 1000px;
  height : 80px;
  padding : 40px 40px 0px 40px;
  font-size:40px;
  font-weight : bold;
  color : #fff;
  margin : 0px auto; 
  background-color:#000;
}
/*nav 설정*/
.nav_part{
  height : 33px;
  width :1000px;
  padding : 40px 40px;
  margin : 0px auto;
}
.nav_part a{
  text-align : center;
  color : #000;
  display:block;
}
.nav_table, .nav_form, .nav_list{
  float : left;
  width : 322px;
  height:25px;
  font-size : 16px;
  color : #000;
  text-align : center;
  padding : 8px 0px 0px 0px;
  border : 1px solid #d1d1d1;
  margin : 0px 14px 0px 0px;
}
.nav_list{
  margin : 0px 0px 0px 0px;
}
.nav_part li:hover{
  font-weight : bold;
  border: 1px solid #454545;
}

/*main 설정*/
.main_part{
  width : 1000px;
  padding : 0px 40px 40px 40px;
  margin : 0px auto;
}
.main_title{
  font-size:20px;
  font-weight :bold;
  color :#000;
  padding : 0px 0px 20px 0px;
  border-bottom : 1px solid #454545;
}

/*테이블 요소 설정*/
.table_table, .form_table, .list_table{
  width : 1000px;
  margin : 30px 0px;
  border: 1px solid #d1d1d1;
}
.list_table{
  margin : 30px 0px 0px 0px;
}
.table_table th, .form_table th, .list_table th{
  font-size:16px;
  color : #333;
  font-weight : bold;
  background-color : #f7f7f7;
  border : 1px solid #d1d1d1;
  padding : 10px 0px 0px 15px;
  height : 23px;
  text-align : left;
}
.table_table td , .form_table td, .list_table td{
  font-size:12px;
  color : #000;
  padding : 30px;
}
/*테이블 요소 세부 내용 설정*/
.size_table caption, .refund_table caption{
  font-size:14px;
  color : #000;
  font-weight : bold;
  text-align : left;
  padding : 0px 0px 20px 0px;
}
.size_table{
  margin : 0px 0px 30px 0px;
  border : 1px solid #e4e4e4;
  width : 100%;
  display:table;
  table-layout: fixed;
  word-break:keep-all;
}
.size_table th{
  background-color : #fbfbfb;
  font-weight:bold;
  font-size: 12px;
  color:#555;
  text-align : center;
  border : 1px solid #e4e4e4;
}
.size_table td{
  font-size: 12px;
  color:#555;
  text-align : center;
  display:table-cell;
  padding: 10px 0px;
  border : 1px solid #e4e4e4;
}
.boys, .girls{
  font-weight : bold;
  vertical-align: middle;
}
.div_size, .div_weight, .div_height{
  font-weight: bold;
}
.refund_table{
  font-size : 12px;
  color : #555;
  text-align : center;
  width : 100%;
  display:table;
  table-layout: fixed;
  word-break:keep-all;
}
.refund_table th{
  font-size : 12px;
  color : #555;
  text-align : center;
  background-color:#fbfbfb;
  border-top:2px solid #a5a5a5;
  border-bottom:1px solid #e4e4e4;
  border-left:none;
  border-right:none;
  padding : 10px 0px 0px 0px;
}
.refund_table td{
  padding : 10px 0px;
  display:table-cell;
}
.cost{
  text-align:center;
  /*글자끝을 오른쪽 정렬로 맞춰야함*/
}
.refund_table tfoot{
  font-size : 12px;
  color : #555;
  text-align : center;
  font-weight : bold;
  border-top:1px solid #a5a5a5;
  border-bottom:1px solid #e4e4e4; 
  padding : 10px 0px;
}
/*폼요소 세부 내용 설정*/
.membership_form_title{
  font-size:14px;
  font-weight :bold;
  color :#000;
  padding : 0px 0px 20px 0px;
}
.membership_form{
  border : 1px solid #e4e4e4;
  background-color:#fbfbfb;
  padding : 20px 20px;
}
.form_table td{
  font-size:14px;
  color : #000;
  font-weight:bold;
}
.form_table li{
  padding : 10px 0px 20px 0px;
}
.id, .pwd, .name{
  width : 924px;
  font-size: 12px;
  color : #000;
  padding : 5px 5px;
  margin : 10px 0px 0px 0px;
}
.year, .month, .day{
  font-size:12px;
  color : #000;
  padding : 5px 5px;
  margin: 10px 5px 0px 0px;
  width : 305px; 
}
.day{
  margin: 10px 0px 0px 0px;
}
.man, .woman{
  font-weight:normal;
  margin : 0px 60px 0px 0px;
}
.email,.vertification_number{
  width : 924px;
  padding : 5px 5px;
  margin : 10px 0px 0px 0px;
}
.phone_number{
  width : 795px;
  padding : 5px 5px;
  margin : 10px 10px 0px 0px;
}
.vertification_button{
  width : 110px;
  padding : 5px 0px;
  margin : 10px 0px 0px 0px;
  font-size : 12px;
  color : #fff;
  border : 1px solid #08a600;
  background-color : #4ec53d;
}
.vertification_button{
  cursor:pointer;
}
.exercise,.cook,.travel,.game,.computer,.music,.movie,.book{
  margin : 0px 50px 10px 0px;
  font-weight:normal;
}
.join_message{
  width : 924px;
  margin : 10px 0px 10px 0px;
}
.sign_up_button{
  width: 924px;
  border : 1px solid #08a600;
  background-color : #4ec53d;
  font-size:16px;
  color:#fff;
}
.sign_up_button:hover{
  cursor:pointer;
}
/*리스트 요소 세부 내용 설정*/
/*사전 내용 설정*/
.dictionary_title, .trending_topic_title, .cookie_info_title,.news_title, .webtoon_title{
  font-size:14px;
  font-weight:bold;
  color : #000;
}
.dictionary,.trending_topic, .cookie_info,.news,.webtoon{
  border : 1px solid #e4e4e4;
  margin : 10px 0px 40px 0px;
}
.dictionary_content{
  padding : 40px 10px;
}
.search_word{
  text-align:center;
  padding : 0px 0px 20px 0px;
  font-size:32px;
  font-weight:bold;
  color:#000;
}
.dictionary_content dt{
  font-size:14px;
  font-weight : bold;
  color:#000;
  margin : 0px 0px 5px 0px;
  display:inline;
}
.dictionary_content span{
  font-size:12px;
  color:#559bfa;
  margin : 0px 0px 5px 0px;
}
.dictionary_content dd{
  font-size:12px;
  color : #000;
  padding : 0px 0px 15px 0px;
}
/*실시간 검색어 설정*/
.trending_topic_content{
  padding : 20px;
  border : 1px solid #e4e4e4;
}
.trending_topic_content li{
  padding : 0px 0px 15px 0px;
}
.trending_topic_content li:last-child{
  padding : 0px;
}
.first, .second, .third, .fourth, .fifth,.sixth,.seventh,.eighth,.ninth,.tenth{
  height: 1.7px;
  weight :1.7px;
  border:1px solid #e0e0e0;
  font-size :1px;
  color:#666;
}
.first_cont, .second_cont, .third_cont, .fourth_cont, .fifth_cont,.sixth_cont,.seventh_cont,.eighth_cont,.ninth_cont,.tenth_cont{
  font-size:12px;
  color:#000;
}
/*쿠키 이용안내 설정*/
.cookie_info_content{
  padding : 20px 15px;
}
.cookie_info li{
  list-style:inside;
  padding : 5px 0px;
  font-size:12px;
  color : #000;
}
.cookie_info li:first-child{
  font-weight:bold;
}
.cookie_info li:first-child a{
  text-decoration:none;
}
.cookie_info a{
  text-decoration:underline;
  color:#559bfa;
}
.cookie_info span{
  color:#ec5336;
}
/*웹툰 설정*/
.webtoon_content{
  border: 1px solid #e4e4e4;
}
.webtoon_content li{
  float:left;
  padding : 20px 0px 0px 20px;
}
.cuttoon{
  border : 1px solid #71b036;
  background-color:#80c83d;
  font-size: 10px;
  color : #fff;
  padding : 0px 5px;
}
.smarttoon{
  border:1px solid #df4e28;
  background-color:#ec5336;
  font-size:10px;
  color:#fff;
  padding : 0px 5px;
}

/*footer 설정*/
.footer_part{
  padding : 20px 0px;
  border-top : 1px solid #d1d1d1;
}
.address_email{
  font-size : 12px;
  color : #999;
  text-align : center;
}
.copyright{
  font-size:12px;
  color : #000;
  text-align : center;
  padding:10px 0px 0px 0px;
}